.App {
  text-align: center;
}

.logo {
  fill: black;
  justify-self: center;
  pointer-events: none;
  height: 15vmin;
  padding-top: 30px;
}

.header {
  display: grid;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: linear-gradient(60deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
  text-align: center;
  grid-template-rows: 2fr 1fr;
}

.App-link {
  color: #61dafb;
}