.App {
  text-align: center;
}







.header {
  display: grid;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: linear-gradient(60deg,
      rgb(191, 246, 227) 0%,
      rgba(244, 207, 20, 0.568) 35%,
      rgb(191, 246, 227) 100%);
  text-align: center;
  grid-template-rows: 2fr 1fr;
}

.App-link {
  color: #61dafb;
}